section {
    min-height: 100vh;
 background-color: black;
  }


  .check:hover {
    opacity: 1;
  }


  .task {
    font-size: 18px;
    padding: 0 10px;
    width: fit-content;
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
  }


  .task:focus {
    outline: none;
  }

  .ul-container{
      background-color: black;
  }

  .app ul li i {
    float: right;
    cursor: pointer;
  }


  .app ul li i:hover {
    color: rgb(255, 82, 82);
  }




  .btn-container {
    display: flex;
    justify-content: center;
  }


  .task {
    width: fit-content;
    word-break: break-all;
  }

  
  #ulcont {
    display: flex;
  }
 
  
  .task {
    width: 100%;
  }


  li {
    display: flex;
    align-items: center;
  }
  
 